body{
    color: #000;
    margin: 60px 20px 0px 20px;
}

.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
.nav-content{
    margin: 0px 30px 0px 30px;
}
.nav-button a{
    color: #4c68d7;
}
.nav-button{
    margin: 10px 10px 10px 10px;
    border-style: solid;
    border-color: #4c68d7;
}
.nav-button:hover{
    background-color: #4c68d7;
    color: #fff;
}
.nav-button-selected{
    background-color: #4c68d7;
    margin: 10px 10px 10px 10px;
    color: #FFFFFF;
}
.nav-button-selected a{
    color: #FFFFFF;
}
.nav-button:hover a{
    color: #FFFFFF;
}
#heading{
    font-size: 300%;
    text-align: center;
}
.fields{
    height: 30px;
    border-radius: 8%;
}
#heading1{
    font-size: 35px;
}
#content-text{
    font-size: 16px;
    text-align: center;
}
.select-btn{
    margin: 30px 10px 0px 10px;
    text-align: center;
}
.reg-form{
    background-color: #a7e086;
    text-align: center;
}
.navigation{
    font-size: larger;
    color: orangered;

}
.nav-pills{
    border-radius: 5%;
    background-color: transparent;
}
.nav-pills li{
    border: 1px solid black;
    border-radius: 5%;
}
.navbar-nav{
        text-align: center;
        display: inline;
    }
.logout{
    float: right;
    margin-top: 3%;
    background-color: #c9302c;
}
a:hover
{
    color: #000000;
    text-decoration: none;
}
a{
    color: #000000;
}
.navbar-default{
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px #000000;
}

.galleryImages{
    width: 100%;
}
@media screen and (min-width: 800px) {
    .navbar-nav{
          float: right;
    }
}

footer{
    width: 100%;
    background-color: #000000;
}
.itemField{
    width: 25%;
    display: inline-block;
    margin: 5px 5px 5px 5px;
}
.itemButton{
    margin: 10px 30px 10px 30px;
}
#map {
        height: 100%;
}
@media (max-width: 767px) {
    .slider-size {
        height: auto;
    }
    .slider-size > img {
         width: 100%;
    }
}

/* tablets */
@media (max-width: 991px) and (min-width: 768px) {
    .slider-size {
        height: auto;
    }
    .slider-size > img {
        width: 100%;
    }
}

/* laptops */
@media (max-width: 1023px) and (min-width: 992px) {
    .slider-size {
         height: 400px;
    }
    .slider-size > img {
        width: 100%;
    }
}

/* desktops */
@media (min-width: 1024px) {
    .slider-size {
        height: 600px;
    }
    .slider-size > img {
        width: 100%;
    }
}
.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}


