{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <title>Food Army</title>
{#    Fonts#}
    <link href="{% static 'fonts/Bellefair-Regular.ttf' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    {#        Bootstrap CSS#}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    {#    jQuery#}
    <script type="text/javascript" src="{% static 'plugins/jquery.js' %}"></script>
   {#    Bootstrap JS#}
    <script type="text/javascript" src="{% static 'plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    {#    local CSS#}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {#    toastr#}
    <script type="text/javascript" src="{% static 'plugins/toastr/build/toastr.min.js' %}" > </script>
    <link rel="stylesheet" href="{% static 'plugins/toastr/build/toastr.css' %}">
</head>
<body>
<script>

toastr.options = {
  "debug": false,
  "positionClass": "toast-top-center",
  "onclick": null,
  "fadeIn": 300,
  "fadeOut": 1000,
  "timeOut": 5000,
  "extendedTimeOut": 1000
}
</script>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid nav-content">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Food Army!</a>
        </div>
        <div class="collapse navbar-collapse" id="navBar">
            <ul class="nav navbar-nav" id="hello">
               <li><button class="btn btn-default nav-button {% block donate_selected %}{% endblock %}"><a href="../donate">Donate</a></button></li>
               <li><button class="btn btn-default nav-button {% block register_selected %}{% endblock %}"><a href="../register">Register</a></button></li>
               <li><button class="btn btn-default nav-button login-btn {% block login_selected %}{% endblock %}"><a href="../login_user">Login</a></button></li>
               <li><button class="btn btn-default nav-button logout-btn {% block account_selected %}{% endblock %}"><a href="../account">Hi! {{ request.user.username }}</a></button></li>
               <li><button class="btn btn-default nav-button {% block gallery_selected %}{% endblock %}"><a href="../gallery">Gallery</a></button></li>

               <li><button class="btn btn-default nav-button {% block join_selected %}{% endblock %}"><a href="../join_us_page">Join Us</a></button></li>

            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-md-offset-0 col-sm-offset-0 col-lg-offset-0 col-xs-offset-0" id = "heading">
    </div>
    {% if request.user.is_active %}
       <script>
           $(".login-btn").hide();
           $(".logout-btn").show();
       </script>
    {% else %}
        <script>
        $(".login-btn").show();
        $(".logout-btn").hide();
        </script>
    {% endif %}
</div>
    <br>
{% block content %}
{% endblock %}
<br>
<br>
<br>
</body>
<footer id="commonFooter">
<div class="col-sm-offset-2 col-xs-offset-1 col-md-offset-2 col-lg-offset-3">
    <br><br>
    <h4 id="footerText">Made with <span style="color: #b92c28" class="glyphicon glyphicon-heart"></span> by Chandramowli. Code available as open
        source at <a href="https://github.com/chamow97/food-army">GitHub</a>.
    <br>
    <br>
        <br>
    </h4>
    <br><br>
</div>
</footer>
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
</html>