{% extends 'base.html' %}
{% load staticfiles %}
{% block donate_selected %}
    nav-button-selected
{% endblock %}
{% block content %}
    <div class="container-fluid">
    <div class="row">
            <div class="col col-sm-0 col-md-1 col-xs-0 col-lg-1"></div>
            <div class="col col-sm-12 col-md-10 col-lg-10 col-xs-12 reg-form">
                <h3>Donate Food</h3>
                <h4>Enter details of the food you have.</h4>
                <p>*Give an approximate expiry date for home made item based on the food item.</p>
                <p>*Upload a single quality photo of all the foods just for confirmation.</p>
                <span onclick="createNewItem();" class="glyphicon glyphicon-plus-sign"></span>
                Create New Item(s)
                <span onclick="deleteAllItem();" class="glyphicon glyphicon-remove-sign"></span>
                Delete All Item(s)
                <form class="form-group" id="itemDetails" method="post" action="/getFood" enctype="multipart/form-data">
                <br>

                <p id="itemDetails1"></p>
                    <input hidden name="username" value="{{ request.user.username }}">
                    <div class="col col-sm-offset-1 col-md-offset-0 col-lg-offset-0 col-xs-offset-1">
                        <label style="display: inline-block">Photo:</label>

                        <input onchange="fetchImage(this);" accept="image/*" required style="display: inline-block" class="form-control itemField" name="food_image" type="file">
                        <br>
                    </div>
                    <div class="col col-sm-offset-1 col-md-offset-2 col-lg-offset-3 col-xs-offset-0">
                        <img class="img-responsive" id="imagePreview" />
                    </div>
                    <br>
                    <label>Location</label>
                    <input required maxlength=100 name="street" class="form-control itemField" type="text" placeholder="Street Name | Door Number">
                    <input required maxlength=100 name="locality" class="form-control itemField" type="text" placeholder="Locality">
                    <input required maxlength=100 name="city" class="form-control itemField" type="text" placeholder="City">
                    <br>
                    <br>
                    <div class="col col-sm-offset-1 col-md-offset-0 col-lg-offset-0 col-xs-offset-1">
                        <label style="display: inline-block">Contact:</label>

                        <input pattern="^\d{10}$" maxlength=10 required style="display: inline-block" class="form-control itemField" placeholder="Mobile Number" name="contact" type="text">
                        <br>
                    </div>
                    <br>
                <br>
                <button type="submit" class="btn btn-success itemButton" onclick="resetItems();">Submit</button>
                <button type="button" class="btn btn-danger itemButton" onclick="location.href='/';">Cancel</button>
                </form>
            </div>
            <div class="col col-sm-12 col-md-1 col-xs-0 col-lg-1"></div>
    </div>
    </div>


{% endblock %}