{% extends 'base.html' %}
{% load staticfiles %}
{% block gallery_selected %}
    nav-button-selected
{% endblock %}
{% block content %}
    <h1 class="text-center">Gallery</h1>
    <br>
<div class="container">
  <div class="row">
      {% for item in gallery %}
       <div class="col-lg-3 col-sm-4 col-xs-6"><a title="" href="#"><img style="width: 600px; height: 250px;" class="thumbnail img-responsive" src="{{ item.image.url }}"></a></div>
      {% endfor %}
    <hr>

    <hr>
  </div>
</div>
<div tabindex="-1" class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
		<button class="close" type="button" data-dismiss="modal">×</button>
		<h3 class="modal-title">Heading</h3>
	</div>
	<div class="modal-body">

	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
   </div>
  </div>
</div>
{% endblock %}